<div id="container-conteudo-principal" class="azul">
	
<header>
	<h2>Programação Linear</h2>
	<h3>Configurações</h3>
	<hr />
</header>

<article>
<%= form_tag("novo", :method => "get") do %>
	<fieldset>
		<legend>Configurações</legend>
		
		<%= label_tag(:numero_variaveis, "Número de Variáveis: ") %>
		<%= text_field_tag :numero_variaveis, "", :class => 'campo-numero-variavel', :autofocus => true %>
		<br />
		<%= label_tag(:numero_restricoes, "Número de Restrições: ") %>
		<%= text_field_tag :numero_restricoes, "", :class => 'campo-numero-restricao' %>
		
	</fieldset>
		<%= submit_tag "Confirmar", :class => 'botao botao-azul' %>
<% end %>
	
</article>
</div>



<footer>
	<nav>
		<ul>
			<li><%= link_to "Voltar", home_index_path %></li>	
		</ul>	
	</nav>	
</footer>